<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="bg-dark text-white py-2 mt-auto" th:fragment="Footer">
    <div class="container-sm text-center">
        <small>
            Sitio Educativo de Desarrollo Web |
            Universidad Nacional de Costa Rica |
            Nicolas Zarate H. |
            nicolas.zarate.hernandez@est.una.ac.cr |
            Copyright © 2026

        </small>
    </div>
</footer>


</body>
</html>
