<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temas</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="d-flex flex-column min-vh-100">
    <!-- NavBar -->
    <div th:replace="Elementos/NavBar :: NavBar"> </div>

    <!-- MAIN LAYOUT -->
    <div class="container-fluid flex-grow-1">
        <div class="row">

            <!-- SIDEBAR IZQUIERDA -->
            <div class="col-3 bg-light vh-100 p-3">
                <div class="accordion" id="sidebarTemas"></div>
            </div>

            <!-- CONTENIDO DERECHA -->
            <div class="col-9">
                <div id="contenido" class="container mt-4"></div>

            </div>

        </div>
    </div>

    <script th:src="@{/js/Temas.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Footer -->
    <div th:replace="Elementos/Footer:: Footer"> </div>
</body>
</html>